#root {
  max-width: 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}
#tsparticles {
    height: 100vh;
    width: 100vh;
  }

