* {
    background-color: none;
    padding: 0;
    margin: 0;
}

.animation,
.animation_layer {
    height: 1100px;
}

.animation {
    display: block;
    position: relative;
    z-index: 10;
}

.animation_layer {
    background-position: center center;
    /* margin-top: 50px; */
    background-size: auto ;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.animation_layer.parallax {
    position: fixed;
}

#bg {
    background-image: url(https://res.cloudinary.com/di40y80dw/image/upload/v1707281541/Parallax/backgroundlayer2_rbei71.png);
    min-height: 100%;
    background-size: cover;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

#logo {
    background-image: url(https://res.cloudinary.com/di40y80dw/image/upload/v1708849068/ksdtcvwgxpo4lxra1gp8.png);
    background-size: 13rem;
    background-position: center center;
    align-items: center;
    top: -35%;
    display: flex;

    justify-content: center;
}

@media only screen and (min-width: 600px) {
    #logo {
        background-size: 16rem;
    }
}

#mountain2 {
    background-image: url(https://res.cloudinary.com/di40y80dw/image/upload/v1707281522/Parallax/mountain2new_ccxs9j.png);
    background-size: 100%;
    align-items: center;
    top: 3rem;
    left: 0%;
    min-height: 90%;
}

#mountain1 {
    background-image: url(https://res.cloudinary.com/di40y80dw/image/upload/v1707281535/Parallax/backgroundmountain1new_ltgqyz.png);
    background-size: auto;
    background-size: 100%;
    top: 0.7rem;
    left: 0%;
    min-height: 100%;
    max-height: max-content;
    align-items: center;
}

#VPname {
    background-image: url(https://res.cloudinary.com/di40y80dw/image/upload/v1707281542/Parallax/VPName_vv59u8.png);
    justify-content: center;
    align-items: center center;
    background-size: 90%;
    display: flex;
    /* top: 0rem; */
    /* top: -25px; */
    /* opacity: 50%; */
    left: 0%;
}

#trees {
    background-image: url(https://res.cloudinary.com/di40y80dw/image/upload/v1707281525/Parallax/Treesonlandnew_dqcwhg.png);
    /* background-size: auto;  */
    justify-content: center;
    align-items: center;
    background-size: 100%;
    display: flex;
    -ms-flex-align: center;
    /* margin-top: 0rem; */
    /* margin-top: 1.9rem; */
    top: -100px;
    left: 0px;
}

#land {
    background-image: url(https://res.cloudinary.com/di40y80dw/image/upload/v1707281498/Parallax/land_dd4oxh.png);
    background-size: 100%;
    background-position: center center;
    justify-content: bottom center;
    align-items: bottom center;
    display: flex;
    /* margin-top: 19.5rem; */
    top: 200px;
    left: 0px;
}

/* .Hero{
    top: -10rem;
  } */

  