@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-wave {
    animation: wave 5s infinite linear;
  }
  .animate-wave-slow {
    animation: wave 7s infinite linear;
  }
  .animate-wave-slower {
    animation: wave 9s infinite linear;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}